deepseek-poetry-workflow.json
{
  "name": "DeepSeek AI诗词生成",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "poetry",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "poetry"
    },
    {
      "parameters": {
        "url": "https://api.deepseek.com/v1/chat/completions",
        "options": {
          "timeout": 30000
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "deepseek-chat"
            },
            {
              "name": "messages",
              "value": "=[{\"role\": \"system\", \"content\": \"你是一位专业的诗词创作AI，擅长创作各种类型的诗词。请根据用户要求创作优美、有意境的诗词。\"}, {\"role\": \"user\", \"content\": \"请根据以下要求创作一首诗词：{{ $json.message }}\"}]"
            },
            {
              "name": "max_tokens",
              "value": "1000"
            },
            {
              "name": "temperature",
              "value": "0.8"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            },
            {
              "name": "Authorization",
              "value": "Bearer YOUR_DEEPSEEK_API_KEY"
            }
          ]
        }
      },
      "id": "deepseek-ai",
      "name": "DeepSeek AI",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "poetry",
              "value": "={{ $json.choices[0].message.content }}"
            }
          ]
        },
        "options": {}
      },
      "id": "format-response",
      "name": "格式化回复",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.3,
      "position": [680, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"poetry\": $json.poetry } }}"
      },
      "id": "response",
      "name": "Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "DeepSeek AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek AI": {
      "main": [
        [
          {
            "node": "格式化回复",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "格式化回复": {
      "main": [
        [
          {
            "node": "Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {},
  "versionId": "1"
}
